<h1 style="text-align: center"><%= @user.first_name.capitalize %>'s Equipment Items</h1>
<hr>
<div class="background-image">
  <div class="row bg-pixel">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">

            <div class="btn-group" role="group">
              <button type="button" class="btn"><%= link_to "Edit profile", edit_user_path(current_user) %></button>
            </div>

            <div class="btn-group" role="group">
              <button type="button" class="btn"><%= link_to "View profile", user_path(current_user) %></button>
            </div>

            <div class="btn-group" role="group">
              <button type="button" class="btn"><%= link_to "Log out", destroy_user_session_path, method: :delete %></button>
            </div>

            <div class="btn-group" role="group">
              <button type="button" class="btn"><%= link_to "Add equipment", new_equipment_item_path %></button>
            </div>

          </div>


      </div>
    </div>
    <div class="col-md"></div>
    <div class="col-md-12">

                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Serial</th>
                      <th>Purchase date</th>
                      <th>Comments</th>
                      <th>Equipment type</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @equip_item.each do |equipment_item| %>
                      <tr>
                        <td><%= equipment_item.name %></td>
                        <td><%= equipment_item.serial %></td>
                        <td><%= equipment_item.purchase_date %></td>
                        <td><%= equipment_item.comments %></td>
                        <td><%= if equipment_item.equipment_type_id == 0
                                  "Truck"
                                elsif equipment_item.equipment_type_id == 1
                                  "Hand Tool"
                                elsif equipment_item.equipment_type_id == 2
                                  "Power Tool"
                                elsif equipment_item.equipment_type_id == 3
                                  "Tractor"
                                else
                                  "Misc."
                                end
                            %>

                        </td>
                        <td><%= link_to 'Show item', equipment_item %></button></td>
                        <td><%= link_to 'Edit item', edit_equipment_item_path(equipment_item) %></td>
                        <td><%= link_to 'Delete item', equipment_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                </div>
                </br>






