<%= simple_form_for(@equipment_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :serial %>
    <%= f.input :purchase_date %>
    <%= f.input :comments %>
    <%= f.select :equipment_type_id, [['Tractor', 1],
                                      ['Hand tools', 2],
                                      ['Power tools', 3],
                                      ['Trucks', 4],
                                      ['Misc.', 5]] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

